.App {
  text-align: center;
}

img {
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

/* MY CSS STARTS HERE */
.rick-n-morty-icon {
  height: 170px;
  width: 230px;
}

.card-container {
  border: 1px solid lawngreen;
  border-width: 40px;
}

.character-img {
  height: 230px;
  width: 230px;
}

/* DARK MODE CSS */
.dark-mode {
  color: #fff;
  background-color: #313843;
}

/* NAVBAR CSS */
.navbar {
  align-items: center;
  border-bottom: 1px solid rgb(221, 221, 221);
  display: flex;
  height: 70px;
  padding: 0 3%;
  -webkit-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  margin-bottom: 20px;
}
